<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-charpterlist [modified]="false" (childEvent)="getChildEvent($event)"></app-charpterlist>
  </mat-drawer>
  <mat-drawer-content clsss="contain">
    <mat-toolbar >
      <mat-toolbar-row>
        <mat-icon>chat</mat-icon>
        <span>作业安排</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-homeworkdesigm [lesson]="lesson" [ChaIndex]="ChaIndex" [SecIndex]="SecIndex"></app-homeworkdesigm>
  </mat-drawer-content>
</mat-drawer-container>
